#include <physical_layouts.dtsi>

/ {
    physical_layout_hillside48_42: physical_layout_hillside48_42 {
        compatible = "zmk,physical-layout";
        display-name = "Hillside48 (42)";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   93       0     0     0>
            , <&key_physical_attrs 100 100  100   31       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   28       0     0     0>
            , <&key_physical_attrs 100 100  400   42       0     0     0>
            , <&key_physical_attrs 100 100  850   42       0     0     0>
            , <&key_physical_attrs 100 100  950   28       0     0     0>
            , <&key_physical_attrs 100 100 1050    0       0     0     0>
            , <&key_physical_attrs 100 100 1150   31       0     0     0>
            , <&key_physical_attrs 100 100 1250   93       0     0     0>
            , <&key_physical_attrs 100 100    0  193       0     0     0>
            , <&key_physical_attrs 100 100  100  131       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  128       0     0     0>
            , <&key_physical_attrs 100 100  400  142       0     0     0>
            , <&key_physical_attrs 100 100  850  142       0     0     0>
            , <&key_physical_attrs 100 100  950  128       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  131       0     0     0>
            , <&key_physical_attrs 100 100 1250  193       0     0     0>
            , <&key_physical_attrs 100 100    0  293       0     0     0>
            , <&key_physical_attrs 100 100  100  231       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  228       0     0     0>
            , <&key_physical_attrs 100 100  400  242       0     0     0>
            , <&key_physical_attrs 100 100  500  288       0     0     0>
            , <&key_physical_attrs 100 100  750  288       0     0     0>
            , <&key_physical_attrs 100 100  850  242       0     0     0>
            , <&key_physical_attrs 100 100  950  228       0     0     0>
            , <&key_physical_attrs 100 100 1050  200       0     0     0>
            , <&key_physical_attrs 100 100 1150  231       0     0     0>
            , <&key_physical_attrs 100 100 1250  293       0     0     0>
            , <&key_physical_attrs 100 100  100  331       0     0     0>
            , <&key_physical_attrs 100 100  250  328       0     0     0>
            , <&key_physical_attrs 100 100  350  342       0     0     0>
            , <&key_physical_attrs 100 100  450  388       0     0     0>
            , <&key_physical_attrs 100 100  550  444       0     0     0>
            , <&key_physical_attrs 100 100  700  444       0     0     0>
            , <&key_physical_attrs 100 100  800  388       0     0     0>
            , <&key_physical_attrs 100 100  900  342       0     0     0>
            , <&key_physical_attrs 100 100 1000  328       0     0     0>
            , <&key_physical_attrs 100 100 1150  331       0     0     0>
            ;
    };
};
